# prevent cloudflare from installing with npm
# instead, set cloudflare run command to `bun i; bun run build`
SKIP_DEPENDENCY_INSTALL=1

# nuxt-og-image secret
NUXT_OG_IMAGE_SECRET=5748a07bcbfd9e4a308756f609ae335b07594fb687082186c02c8e973bbf5587

# base URL
BASE_URL=https://a35hie.me
