:root, .lightMode
  --backgroundColor: #c3acff
  --foregroundColor: rgb(220 213 239 / 0.2)
  --foregroundDark: rgb(226 212 246 / 0.5)
  --foregroundOpaque: rgb(162, 143, 201)
  --textColor: rgba(25, 0, 67, 0.95)
  --accentColor: rgb(146 117 232)
  --accentColor2: rgb(218, 90, 189)
  --shadowColor: rgba(244, 226, 255, 0.8)

:root
  --dark-backgroundColor: #0c0023
  --dark-foregroundColor: rgb(90 80 104 / 0.2)
  --dark-foregroundDark: rgb(109 103 133 / 0.4)
  --dark-foregroundOpaque: rgb(69, 53, 89)
  --dark-textColor: rgba(235, 222, 255, 0.95)
  --dark-accentColor: rgb(101 43 218)
  --dark-accentColor2: rgb(207 51 214)
  --dark-shadowColor: rgba(155, 132, 220, 0.8)

.darkMode
  --backgroundColor: var(--dark-backgroundColor)
  --foregroundColor: var(--dark-foregroundColor)
  --foregroundDark: var(--dark-foregroundDark)
  --foregroundOpaque: var(--dark-foregroundOpaque)
  --textColor: var(--dark-textColor)
  --accentColor: var(--dark-accentColor)
  --accentColor2: var(--dark-accentColor2)
  --shadowColor: var(--dark-shadowColor)

@media (prefers-color-scheme: dark)
  :root
    --backgroundColor: var(--dark-backgroundColor)
    --foregroundColor: var(--dark-foregroundColor)
    --foregroundDark: var(--dark-foregroundDark)
    --foregroundOpaque: var(--dark-foregroundOpaque)
    --textColor: var(--dark-textColor)
    --accentColor: var(--dark-accentColor)
    --accentColor2: var(--dark-accentColor2)
    --shadowColor: var(--dark-shadowColor)
