@use "colors"
@use "fonts"

#kofi-shop-embed
  align-items: flex-start
  gap: 0.5rem
  margin: 0.5rem 0 0

  .kofi-shop-filter-container
    order: 1
    flex-direction: row
    padding: 0
    width: 100%
    justify-content: flex-start
    gap: 0.5rem

    .kofi-shop-filter-btn
      text-transform: capitalize !important

    .kofi-shop-filter-active
      background: var(--accentColor)

  .kofi-shop-container
    order: 2
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr))

    .kofi-shop-item
      position: relative
      background: var(--foregroundColor)
      border-radius: 1.5rem
      overflow: hidden

      img
        width: 100%
        height: auto
        aspect-ratio: 16/9
        object-fit: cover

      .kofi-shop-info
        align-items: flex-start
        gap: 0.5rem
        margin: 1rem

        p:nth-child(1)
          font-family: var(--headerFont)
          font-size: 1.5rem
          font-weight: bold

        p:nth-child(2)
          display: none !important

        p:nth-child(4)
          background: var(--accentColor)
          position: absolute
          top: 0.5rem
          right: 0.5rem
          padding: 0.5rem 0.75rem
          border-radius: 1rem

        // Buy Button
        a
          width: 100%
          background: var(--accentColor)
          padding: 0.5rem 0.75rem
          border-radius: 1.5rem
          margin-top: 1rem

  div.powered-by-kofi-tools
    position: relative !important
    order: 3
    font-size: smaller

    a
      text-decoration: underline
